
nav {
    background-color: #0f0e0e; 
    padding: 30px; 
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  
  li {
    display: inline-block; 
    margin-right: 20px; 
  }

  a {
    text-decoration: none;

    font-weight: bold; 
  }
  
  a:hover {
    color: #ff9900; 
  }
  